.container-dk{
    width: 1415px;
    position: absolute;
    z-index: 1;
}
.container-dk img{
    position: absolute;
    width: 300px ;
    margin-top:20px; margin-left: 20px
}
.container-dk-bot{
    text-align: center;
    display: flex;
    justify-content: center;
}
.dulieu{
    display: flex;
    flex-direction: column;
   margin-top: 80px;
    border: 3px solid #f65d5d;
    background-color: #ffffff;
    border-radius: 8px;
    width: 400px;
    height: 550px;
    padding-top: 20px;
}
.dulieu input{
    font-size: 18px;
    border-radius: 5px;
    background-color: #f8f8f8;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}
.hover-boder:hover{
    transition: all 0.1s ease;
    box-shadow: 5px 5px 5px #cb4141;
}
.dulieu h2:hover{
    color: #fc0a0a;
    text-shadow: 5px 5px 5px #464343;
    transition: all 0.1s ease;
}
.dulieu button{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    background-color: #ff0033;
    color: cornsilk;
}
.dulieu-label{ margin-left: -200px;
    font-size: 18px;

    
    
}



